
<h1 class="mt-5">Pipes <small>Angular</small></h1>
<hr>


  <div class="row">
    <div class="col-12">
      <table class="table table-dark table-striped">
           <thead>
             <tr>
               <th>Variable</th>
               <th>Pipe</th>
               <th>Salida</th>
             </tr>
           </thead>
           <tbody>
             <tr>
              <td>{{nombre}}</td>
              <td>uppercase</td>
              <td>{{nombre | uppercase}}</td>
             </tr>
             <tr>
              <td>{{nombre}}</td>
              <td>lowercase</td>
              <td>{{nombre | lowercase}}</td>
             </tr>
             <tr>
              <td>{{nombre}}</td>
              <td>slice:3</td>
              <td>{{nombre | slice:3}}</td>
             </tr>
             <tr>
              <td>{{nombre}}</td>
              <td>slice:1:5</td>
              <td>{{nombre | slice:1:5}}</td>
             </tr>
             <tr>
              <td>{{arreglo}}</td>
              <td>slice:3:7</td>
              <td>{{arreglo | slice:3:7}}</td>
             </tr>
             <tr>
              <td>{{PI}}</td>
              <td>number:'3.0-0'</td>
              <td>{{PI | number:'3.0-0'}}</td>
             </tr>
             <tr>
              <td>{{PI}}</td>
              <td>number:'.0-2'</td>
              <td>{{PI | number:'.0-2'}}</td>
             </tr>
             <tr>
              <td>{{porcentaje}}</td>
              <td>percent</td>
              <td>{{porcentaje | percent}}</td>
             </tr>
             <tr>
              <td>{{porcentaje}}</td>
              <td>percent:'2.0-2'</td>
              <td>{{porcentaje | percent:'2.0-2'}}</td>
             </tr>
             <tr>
              <td>{{salario}}</td>
              <td>currency </td>
              <td>{{salario | currency}}</td>
             </tr>
             <tr>
              <td>{{salario}}</td>
              <td>currency:'EUR'</td>
              <td>{{salario | currency:'EUR'}}</td>
             </tr>
             <tr>
              <td>{{salario}}</td>
              <td>currency:'CAD':'symbol-narrow':'.0-0'</td>
              <td>{{salario | currency:'CAD':'symbol-narrow':'.0-0'}}</td>
             </tr>
             <tr>
              <td>{{valorPromesa}}</td>
              <td>async</td>
              <td>{{valorPromesa | async}}</td>
             </tr>
             <tr>
              <td>{{fecha}}</td>
              <td>date</td>
              <td>{{fecha | date}}</td>
             </tr>
             <tr>
              <td>{{fecha}}</td>
              <td>date:'short'</td>
              <td>{{fecha | date:'short'}}</td>
             </tr>
             <tr>
              <td>{{fecha}}</td>
              <td>date:'medium'</td>
              <td>{{fecha | date:'medium'}}</td>
             </tr>
                         
           </tbody>

      </table>

      <div class="row">
        <div class="col">
          <ul *ngFor="let item of arreglo | slice:5:20">
            <li>{{item}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <pre>
            {{heroe | json}}
          </pre>
        </div>
      </div>


    </div>
  </div>

